*.swp
.deps
build/
*.lo
*.la
.libs
*.gcda
*.gcno
*.gcov
parameters.bat
parameters.json
parameters.appveyor.json
cmake-build/
cmake-build-*/
.idea/
logs/
testenv.ini
gmon.out
callgrind.out.*
**/*.o
deps/curl-7.54.1/**/*.o
deps/curl-7.54.1/**/.dirstamp
deps/openssl-1.1.1b/**
deps/azure-storage-cpplite/**
deps/arrow.mk
deps/downloaded_src_url
deps/src/**
config.log
.idea
artifacts/
latest_commit
venv/
wss-*-agent.config
wss-unified-agent.jar
whitesource/
