**/*.o
*.gcda
*.gcno
*.gcov
*.la
*.lo
*.swp
.deps
.idea
.idea/
.libs
artifacts/
build.log
build/
callgrind.out.*
cmake-build-*/
cmake-build/
cmake-shared/
config.log
deps/arrow.mk
deps/aws-sdk-cpp-1.11.283
deps/azure-storage-cpplite/**
deps/cJSON*
deps/curl/**
deps/downloaded_src_url
deps/openssl/**
deps/src/**
gmon.out
latest_commit
lib/cJSON.*
logs/
parameters.appveyor.json
parameters.bat
parameters.json
testenv.ini
venv/
whitesource/
wss-*-agent.config
wss-unified-agent.jar
.vs/
